html {
  font-size: 100%;
  background-color: #FFFFFB;
  height: 100%
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "Hiragino Sans", "ヒラギノ角ゴ Pro W3", Sans-Serif;
  line-height: 1.7;
  color: #323232;
  height: 100%
}

img {
  max-width: 100%;
}
