.book-reviews {
  flex-direction: column;
}

.book-reviews__book-review {
  display: flex;
}

.book-reviews__star-rating {
  position: relative;
  width: 5em;
  height: 2em;
  font-size: 50px;
}

.book-reviews__star-rating--front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}

.book-reviews__star-rating--back {
  color: #ccc;
}

.book-reviews__average-rating {
  margin-top: 1em;
  margin-left: 1.3em;
  font-weight: bold;
  font-size: 25px;
}

.book-reviews__review-count {
  margin-top: 1em;
  margin-left: 1.3em;
  font-size: 25px;
}

.book-reviews__url {
  margin-top: 1em;
  margin-left: 1.3em;
  font-size: 25px;
}
