.book-ratings {
  flex-direction: column;
  margin-right: 4rem;
}

.book-ratings__book-rating {
  display: flex;
  position: relative;
  padding-top: 3rem;
  height: 160px;
}

.book-ratings__star-rating {
  position: relative;
  width: 5em;
  height: 2em;
  font-size: 50px;
}

.book-ratings__star-rating--front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  padding-top: 2rem;
}

.book-ratings__star-rating--back {
  color: #ccc;
  padding-top: 2rem;
}

.book-ratings__average-rating {
  display: inline-block;
  width: 70px;
  margin-top: 1em;
  margin-left: 1.3em;
  font-weight: bold;
  font-size: 25px;
  padding-top: 2rem;
}

.book-ratings__review-count {
  display: inline-block;
  width: 230px;
  margin-top: 1em;
  margin-left: 1rem;
  font-size: 25px;
  color: #999999;
  padding-top: 2rem;
}

.book-ratings__url {
  margin-top: 1em;
  margin-left: 1.3em;
  font-size: 25px;
  padding-top: 2rem;
}

.book-ratings__logo {
  position: absolute;
  top: 0px;
}

.book-ratings__logo-2 {
  padding-top: 3rem;
}

.book-ratings__logo-3 {
  padding-top: 2rem;
}

.book-ratings-does-not-exist {
  margin-top: 3rem;
  font-size: 22px;
}

.book-ratings-error {
  margin-top: 3rem;
  font-size: 22px;
}
