.search {
  display: flex;
  margin-top: 0.6rem;
}

.main .search {
  justify-content: center;
  margin-top: 1.5rem;
}

.main .search__input {
  width: 330px;
}

.main input[type=text] {
  width:300px;
}

.navbar input[type=text] {
  width:150px;
}
